@charset "utf-8";
/*
=======================================================================
	General Rules
=======================================================================
*/
 {
	padding:0px;
	margin:0px;
}
body {
	background-color:#091c33;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	float:left;
	width:100%;
}
a {
	text-decoration:none;
	outline:none;
	color:#666666;
}
a img {
	border:none;
}
.clear {
	clear:both;
}
.bold {
	font-weight:bold;
}
.colr {
	color:#305079 !important;
}
.black {
	color:#000;
}
h1 {
	font-size:22px;
	font-weight:normal;
}
h2 {
	font-size:20px;
	font-weight:normal;
}
h3 {
	font-size:18px;
	font-weight:normal;
}
h4 {
	font-size:16px;
	font-weight:normal;
}
.subhead {
	margin-top:20px;
	width:100%;
	float:left;
}
h5 {
	font-size:14px;
	font-weight:normal;
}
h6 {
	font-size:12px;
	font-weight:normal;
}
p {
	line-height:18px;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
.heading {
	padding:10px 0px 14px 0px !important;
	width:100% !important;
	margin-bottom:10px !important;
	text-transform:uppercase;
	background-image:url(../images/heading.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}
.big_head {
	padding:10px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	height:20px;
	width:100%;
	background-image:url(../../../../../../cl102.justhost.com/404.shtml);
	background-position:bottom;
	background-repeat:no-repeat;
	float:left;
}
.gal_head {
	height:30px !important;
}
.gal_head h4{
	padding-top:13px;
}
.big_head h4{
	float:left;
}
.big_head ul{
	float:right;
	list-style:none;
	padding-bottom:10px;
}
.big_head ul li{
	float:left;
	margin-left:10px;
}
.big_head ul li select{
	float:left;
	width:164px;
	height:28px;
	border:#e5e5e5 solid 1px;
	background-color:transparent;
	padding:3px 5px;
}
.big_head ul li.martop{
	padding-top:7px;
}
.small_head {
	padding:10px 0px;
	margin:0px 0px 10px 0px;
	height:20px;
	width:100%;
	background-image:url(../../../../../../cl102.justhost.com/404.shtml);
	background-position:bottom;
	background-repeat:no-repeat;
	float:left;
}
input {
	font-size:11px;
}
.itlc {
	font-style:italic;
}
/* =======================================================================
	Animated Collapse
======================================================================= */
*/
.animationbtns {
	width: 1000px;
	margin: 20px auto 0px auto;
}

.animationbtns ul.topbtns {
	float: right;
	list-style: none;
	padding-right: 10px;
}

	.animationbtns ul.topbtns li {
		float: left;
	}

		.animationbtns ul.topbtns li a {
			float: left;
		}
/*
=======================================================================
	Buttons
=======================================================================
*/
.simplebtn {
	background-color: #FFF;
	background-color: #305079;
	padding: 7px 20px;
	display: inline-block;
	color: #FFF;
}

	.simplebtn:hover {
		background-color: #333;
		background-image: none;
	}

.resetbtn {
	background-color: #333;
	background-image: none;
	border: #790101 solid 1px;
	padding: 7px 20px;
	display: inline-block;
	color: #FFF;
	margin-left: 10px;
}

/*
=======================================================================
	Wrapper Section
=======================================================================
*/

 #wrapper_sec {
	width:1000px;
	margin:0px auto 0px auto;
	background-image:url(../images/wrapper_bg.png);
	background-repeat:repeat-y;
	background-position:center;
} 


/*
=======================================================================
	Header Section
=======================================================================
*/

#masthead {
	width:980px;
	background-color:#305079;
	background-repeat:no-repeat;
	height:153px;
	margin-bottom:-10px;
	margin-left:10px;
}
.logo {
	float:left;
	padding:20px 0px 0px 43px;
	margin-left:-30px;
	margin-top:18px;
}
.slogan {
	float:right;
	padding:27px 43px 0px 0px;
	color:#b0b0b0;
	height:73px;
}
.slogan span{
	padding:5px 0px 0px 0px;
}

/*

=======================================================================
	Content Section 
=======================================================================
*/

#content_sec {
	width:940px;
	padding:10px 20px;
	margin-left:10px;
	background-color:#FFF;
	float:left;
}



.col1 {
	width:675px;
	float:left;
}
/*
=======================================================================
	col2 Section
=======================================================================
*/

.col2 {
	width:245px;
	float:right;
}


ul.forms {
	float:left;
	list-style:none;
	padding:0px 20px 10px 0px;
}
ul.forms li{
	float:left;
}
ul.forms li.txt{
	float:left;
	width:100px;
	color:#000;
	padding-top:5px;
}
.req {
	color:#F00;
}
ul.forms li.inputfield{
	float:left;
	width:259px;
}
ul.forms li.inputfield input.bar{
	width:229px;
	height:24px;
	background-image:url(../images/inputbar.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#fff;
	border:#cccccc solid 1px;
	padding:0px 5px;
}
ul.forms li.inputfield select{
	width:241px;
	height:26px;
	background-image:url(../images/inputbar.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	border:#cccccc solid 1px;
	background-color:transparent;
}
ul.forms li.textfield{
	float:left;
}
ul.forms li.textfield textarea{
	width:340px;
	height:110px;
	background-image:url(../images/inputbar_text.gif);
	background-repeat:repeat-x;
	background-position:top;
	border:#cccccc solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:5px;
	background-color:#e8e8e8;
}
ul.forms li.radiobtn{
	float:left;
}
ul.forms li.radiobtn input{
	margin:0px 10px;
	float:left;
}
ul.forms li.radiobtn .labletxt{
	margin:0px 20px 0px 0px;
	float:left;
}
/*
=======================================================================
	Footer Rules
=======================================================================
*/

#footer {
	width:988px;
	margin:0px auto;
	background-image:url(../images/footer.png);
	background-position:top center;
	background-repeat:no-repeat;
	padding-bottom:20px;
}
#footer ul{
	list-style:none;
	padding:8px 0px 5px 0px;
}
#footer ul li{
	float:left;
	background-image:url(../images/footer_sep.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding:0px 10px;
}
#footer ul li.last{
	background-image:none;
}
#footer ul li a:hover{
	text-decoration:underline;
}
.msg {
	color: #ff0000;
    padding: 15px 0px;
    font-weight: bold;
    font-size: 12px;
}
.logo-custom {
	font-size: 36px;
    font-style: normal;
    font-variant: small-caps;
    line-height: 12px;
    margin: 0 0 8px;
    padding: 0;
	color:#ffffff;
	font-family:Georgia;
}

ul.login-home-listing {
	list-style-type:none;
}

ul.login-home-listing li {
	padding: 12px;
    background-color: #305079;
    margin: 5px;
    border-radius: 5px;
}
ul.login-home-listing li a {
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
}


/*
=======================================================================
	Bread Crumb
=======================================================================
*/
.crumb {
	width: 958px;
	height: 30px;
	padding: 8px 10px 0px 10px;
	background-image: url(../images/crumb.gif);
	background-repeat: repeat-x;
	margin-left: 10px;
	border: #e3e3e3 solid 1px;
}

	.crumb p {
		float: left;
	}

	.crumb ul {
		float: left;
		list-style: none;
		padding: 2px 0px 0px 0px;
	}

		.crumb ul li {
			float: left;
			background-image: url(../images/crumb_sep.gif);
			background-repeat: no-repeat;
			background-position: left;
			padding: 0px 5px 0px 10px;
		}

			.crumb ul li.first {
				float: left;
				background-image: none;
				padding: 0px 5px 0px 5px;
			}

.static {
	float: left;
	width: 928px;
}

a.bordrs {
	padding: 3px;
	border: #c9c9c9 solid 1px;
	float: left;
}

.static h1 {
	padding: 10px 0px;
	color: #666666;
}

.static h2 {
	padding: 8px 0px;
	color: #666666;
}

.static h3 {
	padding: 6px 0px;
	color: #666666;
}

.static h4 {
	padding: 5px 0px;
	color: #666666;
}

.static h5 {
	padding: 5px 0px;
	color: #666666;
}

	.static h5 span {
		padding-bottom: 10px;
	}

.static h6 {
	padding: 5px 0px;
	color: #666666;
}

.static_list {
	width: 940px;
	float: left;
}

	.static_list ul {
		list-style: none;
		float: left;
		padding: 20px 0px;
	}

		.static_list ul li {
			float: left;
			width: 432px;
			border: #CCC solid 1px;
			margin: 0px 20px 0px 0px;
			padding: 10px !important;
		}

			.static_list ul li.last {
				margin-right: 0px;
			}

			.static_list ul li .imag {
				float: left;
			}

			.static_list ul li div {
				float: left;
				width: 300px;
				margin-left: 20px;
			}

.static ul.imgs {
	float: left;
	list-style: none;
	padding: 5px 0px 10px 0px;
}

	.static ul.imgs li {
		float: left;
		margin-right: 10px;
	}

.static .secleft {
	width: 460px;
	padding: 0px 0px;
	float: left;
	margin-top: 40px;
}

.static .secright {
	width: 400px;
	padding: 30px 20px;
	float: right;
	margin-top: 40px;
	border: #e8e8e8 solid 1px;
	border-right: none;
}

	.static .secright .thumb {
		float: left;
		border: #c9c9c9 solid 1px;
		padding: 3px;
		margin-right: 10px;
	}

	.static .secright .conts {
		float: left;
		width: 300px;
	}

.static ul.arow {
	width: 260px;
	float: left;
	padding: 0px 0px 10px 0px;
	list-style: none;
}

	.static ul.arow li {
		padding: 3px 0px 3px 15px;
		background-image: url(../../../../../../cl102.justhost.com/404.shtml);
		background-repeat: no-repeat;
		background-position: left;
	}

.static .sec2 p {
	width: 260px;
	float: left;
	padding: 0px 10px 10px 0px;
}

.static .sec2 a.bordrs {
	margin-bottom: 10px;
}

.static ul {
	width: 100%;
	float: left;
}

	.static ul li {
		padding: 4px 0px;
	}

.static ol {
	width: 100%;
	float: left;
}

	.static ol li {
		padding: 4px 0px;
		font-weight: bold;
	}

.paraimg {
	padding: 3px;
	border: #c9c9c9 solid 1px;
	margin: 0px 10px 10px 0px;
}

.bigsec {
	width: 100%;
	float: left;
	padding: 20px 0px;
}

	.bigsec a.left {
		margin: 0px 20px 10px 0px;
	}

.grayborder {
	width: 100%;
	border-top: #e1e1e1 solid 1px;
	margin: 10px 0px;
	height: 1px;
	overflow: hidden;
}

.bord_top {
	border-top: #CCC solid 1px;
	padding-top: 20px;
}

.bord_botm {
	border-bottom: #CCC solid 1px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.static_cols {
	width: 928px;
	float: left;
	margin: 30px 0px;
}

	.static_cols .leftcolmn {
		width: 440px;
		padding: 0px 20px 0px 0px;
		float: left;
	}

	.static_cols p {
		padding: 10px 0px;
	}

	.static_cols .rightcolmn {
		width: 440px;
		padding-left: 20px;
		float: right;
		border-left: #d0d0d0 solid 1px;
	}

.static table {
	float: left;
	width: 453px;
}

.static tr.tablehead {
	background-color: #666666;
	color: #FFF;
	padding: 10px;
	text-align: center;
}

.static tr td {
	padding: 5px;
	border: #e9e9e9 solid 1px;
}